In [2]:
#importando Pandas 
import pandas as pd

In [4]:
#criando uma lista de 3 estudantes
students = ['alice', 'Jack', 'Molly']

#criando a serie usando nossa lista 
pd.Series(students)

0    alice
1     Jack
2    Molly
dtype: object

In [5]:
# se passarmos apenas numeros o pandas ira criar uma serie do tipo int64
numbers = [1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [6]:
# se criarmos uma lista com strings que contem um valor None 

students = ['alice', 'Jack', None]
pd.Series(students)

0    alice
1     Jack
2     None
dtype: object

In [7]:
#vemos que ele ainda mantem o tipo como Object, porem se criarmos uma lista de numeros, com um valor nulo
# ele ira retornar uma serie do tipo float64 e o numero sera marcado como NaN (not a number )

numbers = [1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [8]:
#isso acontece pq o pandas representa o NaN como um ponto flutuante, se você transformar
#uma lista de inteiros em uma serie e ela vir do tipo float, muito provavelmente deve ter dados faltando nela. 

#vale ressaltar que para um cientista de dados NaN e None é a mesma coisa 
#porem o pandas não ve da mesma forma

In [9]:
import numpy as np
np.nan == None

False

In [10]:
#para verficar se NaN de fato e NaN precisamos usar uma função dedicada para isso

In [11]:
np.isnan(np.nan)

True

In [12]:
#vamos para um exemplo usando um dicionario

In [15]:
stundents_scores = {'alice': 'Physics',
                    'Jack': 'Chemistry',
                    'Molly': 'English'}
s = pd.Series(stundents_scores)
s

alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [16]:
#agora vamos pegar o index

In [17]:
s.index

Index(['alice', 'Jack', 'Molly'], dtype='object')

In [18]:
#podemos também criar uma serie escolhendo apenas dados especificos apartir do index 
stundents_scores = {'alice': 'Physics',
                    'Jack': 'Chemistry',
                    'Molly': 'English'}
                    
s= pd.Series(stundents_scores, index = ['alice', 'Jack', 'Sam'])
s

alice      Physics
Jack     Chemistry
Sam            NaN
dtype: object